@import "tailwindcss";

.prose a, td a {
  @apply text-emerald-700 hover:text-emerald-900;
}


/* .ce-header {
  font-weight: 600; 
}

.ce-header[data-level="2"] {
  font-size: 2rem;
  font-weight: 700;
}

.ce-header[data-level="3"] {
  font-size: 1.5rem;
  font-weight: 600;
}

.ce-header[data-level="4"] {
  font-size: 1.25rem;
  font-weight: 500;
} */


